* {
    box-sizing: border-box;
  }
  html {
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    color-scheme: dark;
  }
  body {
    margin: 0;
    background: #18191B;
    color: #B0B4BA;
  }
  main {
    margin: 2rem auto;
    margin-top: clamp(2rem, 4vw, 3rem);
    padding: 0 2rem;
    max-width: 50rem;
  }
  p {
    margin: 1.5rem 0;
    line-height: 2;
  }
  h1 {
    color: #EDEEF0;
    font-size: clamp(1.5rem, 6vw, 2.5rem);
    line-height: 1.5;
    margin: 1.5rem 0;
  }
  a {
    color: #70B8FF;
    text-decoration: underline;
  }
  a:hover {
    color:#C2E6FF;
  }
  img {
                 border-radius: 50%;
  }