/*
1. Use a consistent sensible line-height in all browsers.
2. Use the user's configured `sans` font-family by default.
*/

html {
  line-height: 1.5; /* 1 */
  font-family: theme('fontFamily.sans', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif); /* 2 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Removes the default spacing and border for appropriate elements.
*/

h1,
h2,
p {
  margin: 0;
}
